<% provide(:title, "NRS作成") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "NRS" %>
<div class="main-contents patient-page new-nrs new-section">
  <div class="container">
    <%= render "shared/error_messages", model: @nrs_scale %>
    <%= form_scale_link_section("NRS", "nrs_scales", @patient) %>
    <%= form_with(url: patient_nrs_scales_path, scope: :nrs_scale, local: true) do |f| %>
      <%= render "form", f: f %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
