<table class="table">
  <thead>
    <tr class="row">
      <th scope="col" class="col-3 col-md-3">作成日時</th>
      <th scope="col" class="col-3 col-md-2">上肢</th>
      <th scope="col" class="col-3 col-md-2">手指</th>
      <th scope="col" class="col-3 col-md-2">下肢</th>
      <th scope="col" class="sm-none col-md-1"></th>
      <th scope="col" class="sm-none col-md-1"></th>
      <th scope="col" class="sm-none col-md-1"></th>
    </tr>
  </thead>
  <tbody>
    <% brs_scales.each_with_index do |brs_scale, i| %>
      <tr class="brs-score score-table row">
        <td class="brs<%= i %>-created-at col-3 col-md-3"><%= brs_scale.date_of_creation %></td>
        <td class="brs<%= i %>-upper-limb-score col-3 col-md-2"><%= brs_scale.upper_limb_i18n %></td>
        <td class="brs<%= i %>-finger-score col-3 col-md-2"><%= brs_scale.finger_i18n %></td>
        <td class="brs<%= i %>-lower-limb-score col-3 col-md-2"><%= brs_scale.lower_limb_i18n %></td>
        <td class="col-4 col-md-1">
          <%= link_to "詳細", patient_brs_scale_path(patient, brs_scale), class: "brs#{i}_show_link show_link custom-btn btn-radius-solid" %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "編集", edit_patient_brs_scale_path(patient, brs_scale), class: "brs#{i}_edit_link edit_link custom-btn btn-radius-solid" %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "削除", patient_brs_scale_path(patient, brs_scale),class: "hdsr#{i}_delete_link delete_link custom-btn btn-radius-solid", method: :delete, data: { confirm: "BRSを削除します。よろしいですか?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
