<% provide(:title, "パスワード編集") %>
<div class="main-contents therapist-page edit-therapist">
  <div class="container">
    <%= render "shared/error_messages", model: @therapist %>
    <div class="link-section d-flex flex-row">
      <%= link_to "患者一覧に戻る", patients_path, class: "custom-btn btn-radius-solid"  %>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form_group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %>文字以上</em>
        <% end %>
      </div>
      <div class="form_group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="form_group">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="form-action">
        <%= f.submit "パスワード編集", class: "btn btn-primary edit-patient-btn" %>
      </div>
    <% end %>
  </div>
</div>
