<% provide(:title, "ユーザー登録") %>
<div class="main-contents">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form_group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <div class="form_group">
      <%= f.label :unique_id %><br />
      <%= f.text_field :unique_id, autofocus: true, autocomplete: "unique_id" %>
    </div>

    <div class="form_group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="form_group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="form-action">
      <%= f.submit "ユーザー登録", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
