<h3>運動機能</h3>
<%= render "sias_scales/form_parts/motor_function_form", f: f %>
<h3>筋緊張・腱反射</h3>
<%= render "sias_scales/form_parts/tone_reflex_form", f: f %>
<h3>感覚</h3>
<%= render "sias_scales/form_parts/sensation_form", f: f %>
<h3>関節可動域、疼痛</h3>
<%= render "sias_scales/form_parts/rom_pain_form", f: f %>
<h3>垂直性</h3>
<%= render "sias_scales/form_parts/trunk_function_form", f: f %>
<h3>高次脳機能</h3>
<%= render "sias_scales/form_parts/higher_brain_function_form", f: f %>
<h3>健側機能</h3>
<%= render "sias_scales/form_parts/healthy_side_function_form", f: f %>
