<table class="table">
  <thead>
    <tr>
      <th scope="col">作成日時</th>
      <th scope="col">得点</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% sias_scales.each_with_index do |sias_scale, i| %>
      <tr class="sias_score">
        <td class="sias<%= i %>-created-at"><%= sias_scale.date_of_creation %></td>
        <td class="sias<%= i %>-total-score"><%= sias_scale.total_score %>点</td>
        <td class="sias<%= i %>-undefined-count">
          <% if sias_scale.undefined_count > 0 %>
            <p class="undefined-columns-count">*<%= sias_scale.undefined_count %>項目が未入力です。</p>
          <% end %>
        </td>
        <td>
          <%= link_to "詳細", patient_sias_scale_path(patient, sias_scale), class: "sias#{i}_show_link show_link custom-btn btn-radius-solid" %>
        </td>
        <td>
          <%= link_to "編集", edit_patient_sias_scale_path(patient, sias_scale), class: "sias#{i}_edit_link edit_link custom-btn btn-radius-solid" %>
        </td>
        <td>
          <%= link_to "削除", patient_sias_scale_path(patient, sias_scale),class: "hdsr#{i}_delete_link delete_link custom-btn btn-radius-solid", method: :delete, data: { confirm: "SIASを削除します。よろしいですか?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
