<%= link_to "6)上肢筋緊張", "#", data: {toggle: "modal", target: "#scale6" } %>
<div class="modal fade" id="scale6" tabindex="-1" role="dialog" aria-labelledby="scale6Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        肘関節を他動的に伸展屈曲させ、筋緊張の状態を評価する。
      </div>
    </div>
  </div>
</div>
<%= f.select :upper_limb_muscle_tone, SiasScale.upper_limb_muscle_tones.keys.map {|k| [I18n.t("enums.sias_scale.upper_limb_muscle_tone.#{k}"), k]} %>
<%= link_to "7)下肢筋緊張", "#", data: {toggle: "modal", target: "#scale7" } %>
<div class="modal fade" id="scale7" tabindex="-1" role="dialog" aria-labelledby="scale7Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        膝関節の他動的伸展屈曲により評価する。
      </div>
    </div>
  </div>
</div>
<%= f.select :lower_limb_muscle_tone, SiasScale.lower_limb_muscle_tones.keys.map {|k| [I18n.t("enums.sias_scale.lower_limb_muscle_tone.#{k}"), k]} %>
<%= link_to "8)上肢腱反射", "#", data: {toggle: "modal", target: "#scale8" } %>
<div class="modal fade" id="scale8" tabindex="-1" role="dialog" aria-labelledby="scale8Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        上腕二頭筋、上腕三頭筋腱反射
      </div>
    </div>
  </div>
</div>
<%= f.select :upper_limb_tendon_reflex, SiasScale.upper_limb_tendon_reflexes.keys.map {|k| [I18n.t("enums.sias_scale.upper_limb_tendon_reflex.#{k}"), k]} %>
<%= link_to "9)下肢腱反射", "#", data: {toggle: "modal", target: "#scale9" } %>
<div class="modal fade" id="scale9" tabindex="-1" role="dialog" aria-labelledby="scale9Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        膝蓋腱、アキレス腱反射
      </div>
    </div>
  </div>
</div>
<%= f.select :lower_limb_tendon_reflex, SiasScale.lower_limb_tendon_reflexes.keys.map {|k| [I18n.t("enums.sias_scale.lower_limb_tendon_reflex.#{k}"), k]} %>
