<%= link_to "患者ページに戻る", patient_path(@patient) %>
<%= @patient.unique_id %>
<% @sias_scale.each_score.each do |attr_name, score| %>
  <dt class="<%= attr_name %>"><%= SiasScale.human_attribute_name(attr_name) %></dt>
  <dd class="<%= attr_name %>_score"><%= @sias_scale.send("#{attr_name}_i18n") %></dd>
<% end %>
<p class="sias-total-score"><%= @sias_scale.total_score %>点</p>
<%= link_to "SIASを編集する", edit_patient_sias_scales_path(@patient) %>
<%= link_to "SIASを削除する", patient_sias_scales_path(@patient), method: :delete, data: { confirm: "SIASを削除します。よろしいですか?" } %>
