<table class="table">
  <thead>
    <tr class="row">
      <th scope="col" class="col-4 col-md-4">作成日時</th>
      <th scope="col" class="col-8 col-md-5">機能低下</th>
      <th scope="col" class="sm-none col-md-1"></th>
      <th scope="col" class="sm-none col-md-1"></th>
      <th scope="col" class="sm-none col-md-1"></th>
    </tr>
  </thead>
  <tbody>
    <% bathyesthesia_scales.each_with_index do |bathyesthesia_scale, i| %>
      <tr class="bathyesthesia_score score-table row">
        <td class="bathyesthesia<%= i %>-created-at col-4 col-md-4"><%= bathyesthesia_scale.date_of_creation %></td>
        <td class="bathyesthesia<%= i %>-limit-part-count col-8 col-md-5">
          <% if bathyesthesia_scale.limit_part.empty? %>
            なし
          <% else %>
            <%= bathyesthesia_scale.limit_part.size %>箇所
          <% end %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "詳細", patient_bathyesthesia_scale_path(patient, bathyesthesia_scale), class: "bathyesthesia#{i}_show_link show_link custom-btn btn-radius-solid" %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "編集", edit_patient_bathyesthesia_scale_path(patient, bathyesthesia_scale), class: "bathyesthesia#{i}_edit_link edit_link custom-btn btn-radius-solid" %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "削除", patient_bathyesthesia_scale_path(patient, bathyesthesia_scale),class: "bathyesthesia#{i}_delete_link delete_link custom-btn btn-radius-solid", method: :delete, data: { confirm: "深部感覚検査を削除します。よろしいですか?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
