<% provide(:title, "深部感覚検査編集") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "深部感覚検査" %>
<div class="main-contents patient-page edit-bathyesthesia edit-section">
  <div class="container">
    <%= form_scale_link_section("振武感覚検査", "bathyesthesia_scales", @patient) %>
    <%= form_with(url: patient_bathyesthesia_scale_path(id: @bathyesthesia_scale), scope: :bathyesthesia_scale, local: true, method: :patch) do |f| %>
      <%= render "form", f: f, bathyesthesia_scale: @bathyesthesia_scale %>
      <div class="submit-form">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
