<% provide(:title, "Mini-BESTest編集") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "Mini-BESTest" %>
<%= link_to "Mini-BESTest一覧に戻る", patient_bestest_scales_path(@patient), class: "btn btn-info" %>
<div class="main-contents new-bestest new-section">
  <%= form_with(url: patient_bestest_scale_path(id: @bestest_scale), scope: :bestest_scale, local: true, method: :patch) do |f| %>
    <%= render "form", f: f %>
    <%= f.submit %>
    <%= render "bestest_scales/modal/explain_modal" %>
  <% end %>
</div>
