<table class="table">
  <thead>
    <tr class="row">
      <th scope="col" class="col-4 col-md-4">作成日時</th>
      <th scope="col" class="col-2 col-md-1">得点</th>
      <th scope="col" class="col-6 col-md-5"></th>
      <th scope="col" class="sm-none col-md-1"></th>
      <th scope="col" class="sm-none col-md-1"></th>
    </tr>
  </thead>
  <tbody>
    <% hdsr_scales.each_with_index do |hdsr_scale, i| %>
      <tr class="hdsr-score score-table row">
        <td class="hdsr<%= i %>-created-at col-4 col-md-4"><%= hdsr_scale.date_of_creation %></td>
        <td class="hdsr<%= i %>-total-score col-2 col-md-1"><%= hdsr_scale.total_score %>点</td>
        <td class="hdsr<%= i %>-undefined-count col-6 col-md-5">
          <% if hdsr_scale.undefined_count > 0 %>
            <p class="undefined-columns-count">*<%= hdsr_scale.undefined_count %>項目が未入力です。</p>
          <% end %>
        </td>
        <td class="col-6 col-md-1">
          <%= link_to "編集", edit_patient_hdsr_scale_path(patient, hdsr_scale), class: "hdsr#{i}_edit_link edit_link custom-btn btn-radius-solid" %>
        </td>
        <td class="col-6 col-md-1">
          <%= link_to "削除", patient_hdsr_scale_path(patient, hdsr_scale),class: "hdsr#{i}_delete_link delete_link custom-btn btn-radius-solid", method: :delete, data: { confirm: "HDS-Rを削除します。よろしいですか?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
