<% provide(:title, "HDS-R編集") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "HDS-R" %>
<%= link_to "HDS-R一覧に戻る", patient_hdsr_scales_path(@patient), class: "btn btn-info" %>
<div class="main-contents new-hdsr">
  <%= form_with(url: patient_hdsr_scale_path(id: @hdsr_scale), scope: :hdsr_scale, local: true, method: :patch) do |f| %>
    <%= render "form", f: f %>
    <%= f.submit %>
  <% end %>
</div>
