<h1>HDS-R</h1>
<%= link_to "患者ページに戻る", patient_path(@patient) %>
<%= link_to "新規作成", new_patient_hdsr_scale_path(@patient) %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">作成日時</th>
      <th scope="col">得点</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @hdsr_scales.each_with_index do |hdsr_scale, i| %>
      <tr class="hdsr_score">
        <td class="hdsr<%= i %>_created_at"><%= hdsr_scale.created_at.strftime('%Y/%m/%d') %></td>
        <td class="hdsr<%= i %>_total_score"><%= hdsr_scale.total_score %></td>
        <td>
          <%= link_to "編集する", edit_patient_hdsr_scale_path(@patient, hdsr_scale), class: "hdsr#{i}_edit_link edit_link" %>
        </td>
        <td>
          <%= link_to "削除する", patient_hdsr_scale_path(@patient, hdsr_scale),class: "hdsr#{i}_delete_link delete_link", method: :delete, data: { confirm: "hdsrを削除します。よろしいですか?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
