<div class="age-column hdsr-column">
  <div class="age-head hdsr-head">
    <p>1) お歳はいくつですか？(2年までの誤差は正解)</p>
  </div>
  <div class="age-form hdsr-form">
     0: <%= f.radio_button :age, 0, checked: true %>
     1: <%= f.radio_button :age, 2 %>
  </div>
</div>
<div class="today-column hdsr-column">
  <div class="today-head hdsr-head">
    <p>
      2) 今日は何年の何月何日ですか？何曜日ですか？<br/>
      <span>(年月日、曜日が正解でそれぞれ1点ずつ)</span>
    </p>
  </div>
  <div class="today-form hdsr-form flex-form">
    <div class="today-form-left form-left">
      <p>年</p>
      <p>月</p>
      <p>日</p>
      <p>曜日</p>
    </div>
    <div class="today-form-right form-right">
      <% HdsrScale::TODAY_ATTRIBUTES.each do |attr_name| %>
        <div class="<%= attr_name %>_form">
          <% 2.times do |i| %>
           <%= i %>: <%= f.radio_button attr_name, i %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
