<div class="collapse" id="elbow_forearm_mmt_score">
  <div class="card card-body">
    <h3>肘関節・前腕</h3>
    <div class="d-flex justify-content-center">
      <div class="elbow_forearm_mmt_head part-head">
        <dd class="left-top"></dd>
        <dd>屈曲</dd>
        <dd>伸展</dd>
        <dd>回内</dd>
        <dd>回外</dd>
      </div>
      <div class="right_elbow_forearm_mmt_score mmt-score">
        <dd class="direction-head">右</dd>
        <% mmt_scale.right_elbow_scale_attributes.each  do |attr_name| %>
          <dd class="<%= attr_name %>_score"><%= mmt_scale.send("#{attr_name}_i18n") %></dd>
        <% end %>
        <% mmt_scale.right_forearm_scale_attributes.each  do |attr_name| %>
          <dd class="<%= attr_name %>_score"><%= mmt_scale.send("#{attr_name}_i18n") %></dd>
        <% end %>
      </div>
      <div class="left_elbow_forearm_mmt_score mmt-score">
        <dd class="direction-head">左</dd>
        <% mmt_scale.left_elbow_scale_attributes.each  do |attr_name| %>
          <dd class="<%= attr_name %>_score"><%= mmt_scale.send("#{attr_name}_i18n") %></dd>
        <% end %>
        <% mmt_scale.left_forearm_scale_attributes.each  do |attr_name| %>
          <dd class="<%= attr_name %>_score"><%= mmt_scale.send("#{attr_name}_i18n") %></dd>
        <% end %>
      </div>
    </div>
  </div>
</div>
