<h1>MMT</h1>
<%= link_to "患者ページに戻る", patient_path(@patient) %>
<%= form_with(url: patient_mmt_scales_path, scope: :mmt_scale, local: true, method: :patch) do |f| %>
  <%= render "mmt_scales/form_parts/collaps_btns", { f: f, mmt_scale: @mmt_scale } %>
  <%= render "mmt_scales/form_parts/neck_trunk_form", { f: f, mmt_scale: @mmt_scale } %>
  <%= render "mmt_scales/form_parts/shoulder_form", { f: f, mmt_scale: @mmt_scale } %>
  <%= render "mmt_scales/form_parts/elbow_forearm_form", { f: f, mmt_scale: @mmt_scale } %>
  <%= render "mmt_scales/form_parts/wrist_form", { f: f, mmt_scale: @mmt_scale } %>
  <%= render "mmt_scales/form_parts/hip_form", { f: f, mmt_scale: @mmt_scale } %>
  <%= render "mmt_scales/form_parts/knee_form", { f: f, mmt_scale: @mmt_scale } %>
  <%= render "mmt_scales/form_parts/ankle_form", { f: f, mmt_scale: @mmt_scale } %>
  <%= f.submit %>
<% end %>
