<% provide(:title, "MMT作成") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "MMT" %>
<%= link_to "MMT一覧に戻る", patient_mmt_scales_path(@patient), class: "btn btn-info" %>
<div class="main-contents edit-mmt">
  <%= form_with(url: patient_mmt_scale_path(id: @mmt_scale), scope: :mmt_scale, local: true, method: :patch) do |f| %>
    <%= render "mmt_scales/form_parts/collaps_btns", { f: f, mmt_scale: @mmt_scale } %>
    <%= f.submit %>
    <%= render "mmt_scales/form_parts/neck_trunk_form", { f: f, mmt_scale: @mmt_scale } %>
    <%= render "mmt_scales/form_parts/shoulder_form", { f: f, mmt_scale: @mmt_scale } %>
    <%= render "mmt_scales/form_parts/elbow_forearm_form", { f: f, mmt_scale: @mmt_scale } %>
    <%= render "mmt_scales/form_parts/wrist_form", { f: f, mmt_scale: @mmt_scale } %>
    <%= render "mmt_scales/form_parts/hip_form", { f: f, mmt_scale: @mmt_scale } %>
    <%= render "mmt_scales/form_parts/knee_form", { f: f, mmt_scale: @mmt_scale } %>
    <%= render "mmt_scales/form_parts/ankle_form", { f: f, mmt_scale: @mmt_scale } %>
  <% end %>
</div>
