<% provide(:title, "MMT作成") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "MMT" %>
<div class="main-contents patient-page new-mmt new-section">
  <div class="container">
    <%= form_scale_link_section("MMT", "mmt_scales", @patient) %>
    <%= form_with(url: patient_mmt_scales_path, scope: :mmt_scale, local: true) do |f| %>
      <%= render "mmt_scales/form_parts/collaps_btns", { f: f, mmt_scale: @mmt_scale } %>
      <%= f.submit %>
      <%= render "form", f: f, mmt_scale: @mmt_scale %>
    <% end %>
  </div>
</div>
