<h1>MMT</h1>
<%= link_to "患者ページに戻る", patient_path(@patient) %>
<%= @patient.unique_id %>
<%= render "mmt_scales/score_parts/collaps_btns", mmt_scale: @mmt_scale %>
<%= render "mmt_scales/score_parts/neck_trunk_score", mmt_scale: @mmt_scale %>
<%= render "mmt_scales/score_parts/shoulder_score", mmt_scale: @mmt_scale %>
<%= render "mmt_scales/score_parts/elbow_forearm_score", mmt_scale: @mmt_scale %>
<%= render "mmt_scales/score_parts/wrist_score", mmt_scale: @mmt_scale %>
<%= render "mmt_scales/score_parts/hip_score", mmt_scale: @mmt_scale %>
<%= render "mmt_scales/score_parts/knee_score", mmt_scale: @mmt_scale %>
<%= render "mmt_scales/score_parts/ankle_score", mmt_scale: @mmt_scale %>
<%= link_to "MMTを編集する", edit_patient_mmt_scales_path(@patient) %>
<%= link_to "MMTを削除する", patient_mmt_scales_path(@patient), method: :delete, data: { confirm: "MMTを削除します。よろしいですか?" } %>
