<table class="table">
  <thead>
    <tr class="row">
      <th scope="col" class="col-8">項目</th>
      <th scope="col" class="col-4">評価結果</th>
    </tr>
  </thead>
  <tbody>
    <% fact_scale.scale_attributes.each_with_index do |attr_name, i| %>
      <tr class="fact-score scale-score row">
        <td class="<%= attr_name %> col-8">
          <span><%= i +1 %>)</span>
          <%= link_to FactScale.human_attribute_name(attr_name), "#", data: {toggle: "modal", target: "#scale#{i + 1}" } %>
        </td>
        <td class="<%= attr_name %>_score col-4"><%= fact_scale.send("#{attr_name}_i18n") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
