<% provide(:title, "FACT作成") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "FACT" %>
<div class="main-contents patient-page new-fact new-section">
  <div class="container">
    <%= form_scale_link_section("FACT", "fact_scales", @patient) %>
    <%= form_with(url: patient_fact_scales_path, scope: :fact_scale, local: true) do |f| %>
      <% @fact_scale.scale_attributes.each_with_index do |attr_name, i| %>
        <div class="scale_column row">
          <span><%= i + 1 %>)</span>
          <%= link_to FactScale.human_attribute_name(attr_name), "#", class: "col-10 col-md-6", data: {toggle: "modal", target: "#scale#{i + 1}" } %>
          <%= f.select attr_name, FactScale.human_select_options(attr_name), class: "col-12 col-md-6" %>
        </div>
      <% end %>
      <%= render "fact_scales/modal/explain_modal" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
