<div class="defined-scale-section border border-info">
  <h3>実施した評価</h3>
  <div class="defined-scale-items">
    <% if patient.sias_scales.present? %>
      <div class="defined-sias-scale defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "SIAS", patient_sias_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
        <p class="sias-total-score total-score col-sm-4">合計　<%= patient.sias_scales.last.total_score %>点</p>
        <% if patient.sias_scales.last.undefined_count > 0 %>
          <p class="undefined-columns-count col-sm-4">*<%= patient.sias_scales.last.undefined_count %>項目が未入力です。</p>
        <% end %>
      </div>
    <% end %>
    <% if patient.rom_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "ROM", patient_rom_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
        <p class="rom-limit-count col-sm-4">
          <% if patient.rom_scales.last.limit_part.empty? %>
            可動域制限はありません。
          <% else %>
            <%= link_to "#{patient.rom_scales.last.limit_part.size}箇所に可動域制限があります。", "#", data: {toggle: "modal", target: "#rom-limit-part" } %>
            <%= render "modal/rom_limit_modal", patient: patient %>
          <% end %>
        </p>
      </div>
    <% end %>
    <% if patient.mmt_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "MMT", patient_mmt_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
        <p class="mmt-weak-count col-sm-4">
          <% if patient.mmt_scales.last.weak_part.empty? %>
            筋力低下はありません
          <% else %>
            <%= link_to "#{patient.mmt_scales.last.weak_part.size}箇所に筋力低下があります。", "#", data: {toggle: "modal", target: "#mmt-weak-part" } %>
            <%= render "modal/mmt_weak_modal", patient: patient %>
          <% end %>
        </p>
      </div>
    <% end %>
    <% if patient.nrs_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "NRS", patient_nrs_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
      </div>
    <% end %>
    <% if patient.brs_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "BRS", patient_brs_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
        <div class="col-sm-4">
          <% patient.brs_scales.last.scale_attributes.each do |attr_name| %>
            <p>
              <%= BrsScale.human_attribute_name(attr_name) %>:
              <%= patient.brs_scales.last.send("#{attr_name}_i18n") %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if patient.mas_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "MAS", patient_mas_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
        <p class="mas-hypertonia-count col-sm-4">
          <% if patient.mas_scales.last.hypertonia_part.empty? %>
            筋緊張亢進:なし
          <% else %>
            筋緊張亢進:
            <%= link_to "#{patient.mas_scales.last.hypertonia_part.size}箇所", "#", data: {toggle: "modal", target: "#mas-hypertonia-part" } %>
            <%= render "modal/mas_hypertonia_modal", patient: patient %>
          <% end %>
        </p>
      </div>
    <% end %>
    <% if patient.tendon_reflex_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "腱反射", patient_tendon_reflex_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
        <p class="tendon-reflex-hyperreflexia-count col-sm-4">
          <% if patient.tendon_reflex_scales.last.hyperreflexia_part.empty? %>
            腱反射亢進:なし
          <% else %>
            腱反射亢進:
            <%= link_to "#{patient.tendon_reflex_scales.last.hyperreflexia_part.size}箇所", "#", data: {toggle: "modal", target: "#tendon-reflex-hyperreflexia-part" } %>
            <%= render "modal/tendon_reflex_hyperreflexia_modal", patient: patient %>
          <% end %>
        </p>
        <p class="tendon-reflex-hyporeflexia-count col-sm-4">
          <% if patient.tendon_reflex_scales.last.hyporeflexia_part.empty? %>
            腱反射低下:なし
          <% else %>
            腱反射低下:
            <%= link_to "#{patient.tendon_reflex_scales.last.hyporeflexia_part.size}箇所", "#", data: {toggle: "modal", target: "#tendon-reflex-hyporeflexia-part" } %>
            <%= render "modal/tendon_reflex_hyporeflexia_modal", patient: patient %>
          <% end %>
        </p>
      </div>
    <% end %>
    <% if patient.tactile_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "触覚検査", patient_tactile_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
        <p class="tactile-limit-part-count col-sm-4">
          機能低下:
          <% if patient.tactile_scales.last.limit_part.empty? %>
            なし
          <% else %>
            <%= link_to "#{patient.tactile_scales.last.limit_part.size}箇所", "#", data: {toggle: "modal", target: "#tactile-limit-part" } %>
            <%= render "modal/tactile_limit_part_modal", patient: patient %>
          <% end %>
        </p>
      </div>
    <% end %>
    <% if patient.bathyesthesia_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "深部感覚検査", patient_bathyesthesia_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
        <p class="tactile-limit-part-count col-sm-4">
          機能低下:
          <% if patient.bathyesthesia_scales.last.limit_part.empty? %>
            なし
          <% else %>
            <%= link_to "#{patient.bathyesthesia_scales.last.limit_part.size}箇所", "#", data: {toggle: "modal", target: "#bathyesthesia-limit-part" } %>
            <%= render "modal/bathyesthesia_limit_part_modal", patient: patient %>
          <% end %>
        </p>
      </div>
    <% end %>
    <% if patient.fact_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "FACT", patient_fact_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
      </div>
    <% end %>
    <% if patient.hdsr_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "HDS-R", patient_hdsr_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
      </div>
    <% end %>
    <% if patient.fbs_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "FBS", patient_fbs_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
        <p class="fbs-total-score total-score col-sm-4">合計　<%= patient.fbs_scales.last.total_score %>点</p>
        <% if patient.fbs_scales.last.undefined_count > 0 %>
          <p class="undefined-columns-count col-sm-4">*<%= patient.fbs_scales.last.undefined_count %>項目が未入力です。</p>
        <% end %>
      </div>
    <% end %>
    <% if patient.bestest_scales.present? %>
      <div class="defined-scale-item row col-sm-12">
        <div class="col-sm-4">
          <%= link_to "Mini-BESTest", patient_bestest_scales_path(patient), class: "defined-scale btn btn-primary", local: true %>
        </div>
      </div>
    <% end %>
  </div>
</div>
