<tr class="patient-box">
  <td class="d-none d-md-block"><%= patient.id %></td>
  <td><%= link_to patient.decorate.full_name, patient %></td>
  <td><%= patient.sex_i18n %></td>
  <td>
    <% if patient.age.present? %>
      <%= patient.age %>歳
    <% end %>
  </td>
  <td class="d-none d-md-block"><%= patient.decorate.date_of_creation %></td>
</tr>
