<h1>患者編集</h1>
<%= form_with(model: @patient, local: true) do |f| %>
  <%= f.label :sex %><br />
  <%= f.select :sex, Patient.sexes.keys.map {|k| [I18n.t("enums.patient.sex.#{k}"), k]} %>

  <%= f.label :age %>
  <%= f.number_field :age %>

  <%= f.label :weight %>
  <%= f.number_field :weight, step: '0.1' %>

  <%= f.label :height %>
  <%= f.number_field :height, step: '0.1' %>

  <%= f.submit "編集する" %>
<% end %>
