<table class="table">
  <thead>
    <tr class="row">
      <th scope="col" class="col-4 col-md-4">作成日時</th>
      <th scope="col" class="col-8 col-md-5">概要</th>
      <th scope="col" class="sm-none col-md-1"></th>
      <th scope="col" class="sm-none col-md-1"></th>
      <th scope="col" class="sm-none col-md-1"></th>
    </tr>
  </thead>
  <tbody>
    <% rom_scales.each_with_index do |rom_scale, i| %>
      <tr class="rom_score score-table row">
        <td class="rom<%= i %>-created-at col-4 col-md-4"><%= rom_scale.date_of_creation %></td>
        <td class="rom<%= i %>-limit-part-count col-8 col-md-4">
          <% if rom_scale.limit_part.empty? %>
            可動域制限はありません。
          <% else %>
            <%= rom_scale.limit_part.size %>箇所に可動域制限があります。
          <% end %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "詳細", patient_rom_scale_path(patient, rom_scale), class: "rom#{i}_show_link show_link custom-btn btn-radius-solid" %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "編集", edit_patient_rom_scale_path(patient, rom_scale), class: "rom#{i}_edit_link edit_link custom-btn btn-radius-solid" %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "削除", patient_rom_scale_path(patient, rom_scale),class: "rom#{i}_delete_link delete_link custom-btn btn-radius-solid", method: :delete, data: { confirm: "ROMを削除します。よろしいですか?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
