<% provide(:title, "ROM作成") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "ROM" %>
<div class="main-contents patient-page new-rom new-section">
  <div class="container">
    <%= form_scale_link_section("ROM", "rom_scales", @patient) %>
    <%= form_with(url: patient_rom_scales_path, scope: :rom_scale, local: true) do |f| %>
      <%= render "rom_scales/form_parts/collaps_btns", { f: f, rom_scale: @rom_scale } %>
      <%= f.submit %>
      <%= render "form", f: f, rom_scale: @rom_scale %>
    <% end %>
  </div>
</div>
