<% provide(:title, "ROM") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "ROM" %>
<div class="link_section d-flex justify-content-between">
  <div class="left_link">
    <%= link_to "ROM一覧に戻る", patient_rom_scales_path(@patient), class: "btn btn-info" %>
  </div>
  <div class="right_link">
    <%= link_to "ROMを編集する", edit_patient_rom_scale_path(@patient, @rom_scale), class: "custom-btn btn-radius-solid" %>
    <%= link_to "ROMを削除する", patient_rom_scale_path(@patient, @rom_scale),class: "custom-btn btn-radius-solid", method: :delete, data: { confirm: "ROMを削除します。よろしいですか?" } %>
  </div>
</div>
<div class="main-contents rom-section">
  <div class="rom-overview overview">
    <h3>可動域制限</h3>
    <p class="limit-part-detail">
      <% if @rom_scale.limit_part.empty? %>
        なし
      <% else %>
        <% @rom_scale.limit_part.each do |part| %>
          <%= RomScale.human_attribute_name(part[0]) %>
        <% end %>
      <% end %>
    </p>
  </div>
  <%= render "rom_scales/score_parts/collaps_btns", rom_scale: @rom_scale %>
  <%= render "rom_scales/score_parts/shoulder_score", rom_scale: @rom_scale %>
  <%= render "rom_scales/score_parts/elbow_forearm_score", rom_scale: @rom_scale %>
  <%= render "rom_scales/score_parts/wrist_score", rom_scale: @rom_scale %>
  <%= render "rom_scales/score_parts/hip_score", rom_scale: @rom_scale %>
  <%= render "rom_scales/score_parts/knee_score", rom_scale: @rom_scale %>
  <%= render "rom_scales/score_parts/ankle_score", rom_scale: @rom_scale %>
</div>
