<% provide(:title, "触覚検査") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "触覚検査" %>
<div class="link_section d-flex justify-content-between">
  <div class="left_link">
    <%= link_to "触覚検査一覧に戻る", patient_tactile_scales_path(@patient), class: "btn btn-info" %>
  </div>
  <div class="right_link">
    <%= link_to "触覚検査を編集する", edit_patient_tactile_scale_path(@patient, @tactile_scale), class: "custom-btn btn-radius-solid" %>
    <%= link_to "触覚検査を削除する", patient_tactile_scale_path(@patient, @tactile_scale),class: "custom-btn btn-radius-solid", method: :delete, data: { confirm: "tactileを削除します。よろしいですか?" } %>
  </div>
</div>
<div class="main-contents tactile-section">
  <div class="tactile-overview overview">
    <h3>感覚機能低下</h3>
    <p class="limita-part-detail">
      <% if @tactile_scale.limit_part.empty? %>
        なし
      <% else %>
        <% @tactile_scale.limit_part.each do |part| %>
          <%= TactileScale.human_attribute_name(part[0]) %>
        <% end %>
      <% end %>
    </p>
  </div>
  <div class="d-flex justify-content-center">
    <div class="tactile-head part-head">
      <dd class="left-top"></dd>
      <dd>上腕</dd>
      <dd>前腕</dd>
      <dd>手</dd>
      <dd>大腿</dd>
      <dd>下腿</dd>
      <dd>後足部</dd>
      <dd>前足部</dd>
    </div>
    <div class="right_tactile_score tactile-score">
      <dd class="direction-head">右</dd>
      <% @tactile_scale.right_scale_score.keys.each  do |attr_name| %>
        <dd class="<%= attr_name %>_score"><%= @tactile_scale.send("#{attr_name}_i18n") %></dd>
      <% end %>
    </div>
    <div class="left_tactile_form tactile-score">
      <dd class="direction-head">左</dd>
      <% @tactile_scale.left_scale_score.keys.each  do |attr_name| %>
        <dd class="<%= attr_name %>_score"><%= @tactile_scale.send("#{attr_name}_i18n") %></dd>
      <% end %>
    </div>
  </div>
</div>
