<table class="table">
  <thead>
    <tr class="row">
      <th scope="col" class="col-4 col-md-3">作成日時</th>
      <th scope="col" class="col-4 col-md-3">反射亢進</th>
      <th scope="col" class="col-4 col-md-3">反射低下</th>
      <th scope="col" class="sm-none col-md-1"></th>
      <th scope="col" class="sm-none col-md-1"></th>
      <th scope="col" class="sm-none col-md-1"></th>
    </tr>
  </thead>
  <tbody>
    <% tendon_reflex_scales.each_with_index do |tendon_reflex_scale, i| %>
      <tr class="tendon-reflex-score row">
        <td class="tendon_reflex<%= i %>-created-at col-4 col-md-3"><%= tendon_reflex_scale.date_of_creation %></td>
        <td class="tendon_reflex<%= i %>-hyperreflexia-part col-4 col-md-3">
          <% if tendon_reflex_scale.hyperreflexia_part.empty? %>
            なし
          <% else %>
            <%= tendon_reflex_scale.hyperreflexia_part.size %>箇所
          <% end %>
        </td>
        <td class="tendon_reflex<%= i %>-hyporeflexia-part col-4 col-md-3">
          <% if tendon_reflex_scale.hyporeflexia_part.empty? %>
            なし
          <% else %>
            <%= tendon_reflex_scale.hyporeflexia_part.size %>箇所
          <% end %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "詳細", patient_tendon_reflex_scale_path(patient, tendon_reflex_scale), class: "tendon_reflex#{i}_show_link show_link custom-btn btn-radius-solid" %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "編集", edit_patient_tendon_reflex_scale_path(patient, tendon_reflex_scale), class: "tendon_reflex#{i}_edit_link edit_link custom-btn btn-radius-solid" %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "削除", patient_tendon_reflex_scale_path(patient, tendon_reflex_scale),class: "hdsr#{i}_delete_link delete_link custom-btn btn-radius-solid", method: :delete, data: { confirm: "深部腱反射を削除します。よろしいですか?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
