<% provide(:title, "深部腱反射") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "深部腱反射" %>
<div class="main-contents patient-page show-tendon-reflex">
  <div class="container">
    <%= show_scale_link_section("深部腱反射", "tendon_reflex_scales", @patient, @tendon_reflex_scale) %>
    <div class="tendon-reflex-overview overview">
      <h3>筋緊張亢進</h3>
      <p class="hyperreflexia-detail">
        <% if @tendon_reflex_scale.hyperreflexia_part.empty? %>
          なし
        <% else %>
          <% @tendon_reflex_scale.hyperreflexia_part.each do |part| %>
            <%= TendonReflexScale.human_attribute_name(part[0]) %>
          <% end %>
        <% end %>
      </p>
    </div>
    <div class="tendon-reflex-overview overview">
      <h3>筋緊張低下</h3>
      <p class="hyporeflexia-detail">
        <% if @tendon_reflex_scale.hyporeflexia_part.empty? %>
          なし
        <% else %>
          <% @tendon_reflex_scale.hyporeflexia_part.each do |part| %>
            <%= TendonReflexScale.human_attribute_name(part[0]) %>
          <% end %>
        <% end %>
      </p>
    </div>
    <%= render "score", tendon_reflex_scale: @tendon_reflex_scale %>
  </div>
</div>
