<% provide(:title, "MAS編集") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "MAS" %>
<div class="main-contents patient-page edit-mas edit-section">
  <div class="container">
    <%= form_scale_link_section("MAS", "mas_scales", @patient) %>
    <%= form_with(url: patient_mas_scale_path(id: @mas_scale), scope: :mas_scale, local: true, method: :patch) do |f| %>
      <%= render "form", f: f, mas_scale: @mas_scale %>
      <div class="submit-form">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
