<table class="table">
  <thead>
    <tr class="row">
      <th scope="col" class="col-4 col-md-4">作成日時</th>
      <th scope="col" class="col-2 col-md-1">得点</th>
      <th scope="col" class="col-6 col-md-4"></th>
      <th scope="col" class="sm-none col-md-1"></th>
      <th scope="col" class="sm-none col-md-1"></th>
      <th scope="col" class="sm-none col-md-1"></th>
    </tr>
  </thead>
  <tbody>
    <% fbs_scales.each_with_index do |fbs_scale, i| %>
      <tr class="fbs-score score-table row">
        <td class="fbs<%= i %>-created-at col-4 col-md-4"><%= fbs_scale.date_of_creation %></td>
        <td class="fbs<%= i %>-total-score col-2 col-md-1"><%= fbs_scale.total_score %>点</td>
        <td class="fbs<%= i %>-undefined-count col-6 col-md-4">
          <% if fbs_scale.undefined_count > 0 %>
            <p class="undefined-columns-count">*<%= fbs_scale.undefined_count %>項目が未入力です。</p>
          <% end %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "詳細", patient_fbs_scale_path(patient, fbs_scale), class: "fbs#{i}_show_link show_link custom-btn btn-radius-solid" %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "編集", edit_patient_fbs_scale_path(patient, fbs_scale), class: "fbs#{i}_edit_link edit_link custom-btn btn-radius-solid" %>
        </td>
        <td class="col-4 col-md-1">
          <%= link_to "削除", patient_fbs_scale_path(patient, fbs_scale),class: "hdsr#{i}_delete_link delete_link custom-btn btn-radius-solid", method: :delete, data: { confirm: "FBSを削除します。よろしいですか?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
