<% provide(:title, "FBS") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "FBS" %>
<div class="link_section d-flex justify-content-between">
  <div class="left_link">
    <%= link_to "FBS一覧に戻る", patient_fbs_scales_path(@patient), class: "btn btn-info" %>
  </div>
  <div class="right_link">
    <%= link_to "FBSを編集する", edit_patient_fbs_scale_path(@patient, @fbs_scale), class: "custom-btn btn-radius-solid" %>
    <%= link_to "FBSを削除する", patient_fbs_scale_path(@patient, @fbs_scale),class: "custom-btn btn-radius-solid", method: :delete, data: { confirm: "FBSを削除します。よろしいですか?" } %>
  </div>
</div>
<div class="main-contents fbs-section">
  <p class="fbs-total-score show-total-score">得点　<%= @fbs_scale.total_score %>点</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">項目</th>
        <th scope="col">評価結果</th>
      </tr>
    </thead>
    <tbody>
      <% @fbs_scale.scale_attributes.each_with_index do |attr_name, i| %>
        <tr>
          <td class="<%= attr_name %>">
            <span><%= i +1 %>)</span>
            <%= FbsScale.human_attribute_name(attr_name) %></td>
          <td class="<%= attr_name %>_score"><%= @fbs_scale.send("#{attr_name}_i18n") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
