<%= link_to "患者ページに戻る", patient_path(@patient) %>
<%= @patient.unique_id %>
<% @fbs_scale.each_score.each do |attr_name, score| %>
  <dt class="<%= attr_name %>"><%= FbsScale.human_attribute_name(attr_name) %></dt>
  <dd class="<%= attr_name %>_score"><%= @fbs_scale.send("#{attr_name}_i18n") %></dd>
<% end %>
<p class="fbs-total-score"><%= @fbs_scale.total_score %>点</p>
<%= link_to "FBSを編集する", edit_patient_fbs_scales_path(@patient) %>
<%= link_to "FBSを削除する", patient_fbs_scales_path(@patient), method: :delete, data: { confirm: "FBSを削除します。よろしいですか?" } %>
