<header>
  <nav class="navbar navbar-expand-lg fixed-top">
    <h1 class="page-title"><%= yield(:title) %></h1>
    <% if therapist_signed_in? %>
      <div class="container">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_therapist.decorate.full_name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to "患者一覧", patients_path, class: "dropdown-item" %></li>
              <li><%= link_to "患者登録", new_patient_path, class: "dropdown-item" %></li>
              <% if current_therapist.has_role?(:admin) %>
                <li><%= link_to "ユーザー作成", signup_path, class: "dropdown-item" %></li>
                <li><%= link_to "ユーザー一覧", admin_therapists_path, class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to "パスワードを変更する", edit_therapist_registration_path, class: "dropdown-item" %></li>
              <% end %>
              <li><%= link_to "ログアウト", logout_path, class: "dropdown-item", method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </nav>
</header>
