<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | 評価APP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <main>
      <div class="container flash-message-content">
        <%= flash_message(flash[:success], :success) if flash[:success] %>
        <%= flash_message(flash[:alert], :danger) if flash[:alert] %>
        <%= flash_message(flash[:notice], :success) if flash[:notice] %>
      </div>
        <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
