<!DOCTYPE html>
<html>
  <head>
    <title>HyoukaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>hoge</h1>
    <% flash.each do |message_type, message| %>
      <p class="<%= message_type %>"><%= message %></p>
      <%= message %>
    <% end %>
    <% if @patient.present? %>
      <%= @patient.full_name %>
    <% end %>
    <% if therapist_signed_in? %>
      <% if current_therapist.has_role?(:admin) %>
        <%= link_to "ユーザー作成", signup_path %>
      <% end %>
      <h1><%= current_therapist.name %></h1>
      <%= link_to "ログアウト", logout_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
